.phone-prefix {
    height: calc(3.5rem + calc(var(--bs-border-width) * 2));
    min-height: calc(3.5rem + calc(var(--bs-border-width) * 2));
    line-height: 1.25;
}

.phone-prefix:focus {
    box-shadow: none;
}

[dir="rtl"] .btn-group {
    flex-direction: row-reverse;
}

[dir="rtl"] .text-md-start {
    text-align: right !important;
}

[dir="rtl"] .text-md-end {
    text-align: left !important;
}
